<a href="https://colab.research.google.com/github/Dhanushyavenkatrajan/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
C=int(input("Enter the celcius "))
print("Fahrenheit:")
print(((C * 9/5) + 32))
print("Kelvin:")
print((C + 273.15))

Enter the celcius 60
Fahrenheit:
140.0
Kelvin:
333.15

In [ ]:
year=int(input("Enter the year: "))
if((year%4==0 and year%100!=0) or year%400==0):
  print("Leap year")
else:
  print("Not a leap year")

Enter the year: 2004
Leap year

In [ ]:
age=int(input("Age of the Visitor: "))
if(age>0 and age<=12):
  print("Child")
elif(age>12 and age<=19):
  print("Teenager")
elif(age>19 and age<=59):
  print("Adult")
else:
  print("Senior citizen")

Age of the Visitor: 30
Adult

In [ ]:
def fibo(n):
    a=0
    b=1
    for i in range(n):
      print(a,end=" ")
      a,b=b,a+b
num=int(input("Enter the range:"))
fibo(num)

Enter the range:8
0 1 1 2 3 5 8 13

In [ ]:
class Dog:
  sound="hahaha"
  def __init__(mem,name,age):
    mem.name=name
    mem.age=age
d1=Dog("Luna",2)
d2=Dog("Buddy",3)
print(d1.name)
print(d1.age)
print(d1.sound)
print(d2.name)
print(d2.age)
print(d2.sound)

Luna
2
hahaha
Buddy
3
hahaha